@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
body{
	background: #FAFAFA;
	font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
/*=========NAV========*/
nav{
	background: #fff;
	border-bottom: 1px solid #E7E7E7;
	height: 77px;
	display: flex;
	align-items: center;
}
.nav-container{	
	max-width: 930px;
	width: 100%;
	height: 31px;
	padding: 26px 40px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

ul.left-icons,
ul.right-icons{
	display: inline-block;
	padding-left: 0px;
	margin-top: -16px;
	-webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start:0;
}
nav li{
	display: inline-block;
	list-style: none;
}
.main-icon{
	height: 30px;
	margin-right: 15px;
}
.secondary-icon{
	padding-top: 4.5px; 
	height: 22px;
	margin-right: 20px;
}
.left-icons li:nth-child(3) img{
	margin-right: 0;
}
.right-icons li:nth-child(3) img{
	margin-right: 0;
}
.search input{
	border: 1px solid #E7E7E7;
	background: #FAFAFA;
	border-radius: 4px;
	line-height: 1.6em;
	text-align: center; 
}
/*=====HEADER======*/
header{
	height: 230px;
	display: flex;
	flex-wrap: wrap;
}
.avi{
	width: 32%;
	flex-grow: 1;
	display: flex;
	justify-content: space-around;
}
.avi img{
	align-self: center;
	border-radius: 50%;
	width: 150px;
}
.info{
	flex-grow: 2;
	margin: auto;
	width: 60%;
}
.h-row h1,
.h-row li{
	display: inline-block;
}
/*===FIRST ROW==*/
.h-row h1{
	font-weight: normal;
}
.button-div{
	display: inline-block;
}
.button-main{
	cursor: pointer;
	border-radius: 4px;
	border: 1px solid #DBDBDB;
	display: inline-block;
	vertical-align: middle;
	background: rgba(0,0,0,0);
	height: 27.2px;
}
.follow{
	margin-left: 15px;
	width: 111px;
	font-size: 0.9em;
}
.drop-down{
	width: 34px;
	margin-left: 5px;
	background: url('../img/util/drop.png'); 
	background-position:center;
	background-repeat:no-repeat;
}
.etc{
	border: none;
	font-size: 0.8em;
	margin-left: 5px;
}
/*====== SECOND ROW =========*/
.h-row2{
	padding-left: 0;
}
.h-row2 li{
	padding-right: 35px;
}
.h-row2 strong{
	padding-right: 5px;
}
/*====== THIRD ROW =========*/
.h-row3 a{
	text-decoration: none;
}
/*===== MAIN CONTENT ======*/
.container{
	max-width: 945px;
	margin: 0 auto;
}
.content{
	max-width: 935px;
	position: relative;
	margin: auto;
}
.row{
	font-size: 0;
}
.row div{
	display: inline-block;
	margin-right: 28px;
	margin-bottom: 28px;
	width: 30vw;
	height: 30vw;
	max-width: 293px;
	max-height: 293px;
}
.row div:last-child{
	margin-right: 0;
}
.row img{
	width: 100%;
	height: 100%;
}
/*=================OVERLAY=================*/
#overlay {
  background:rgba(0,0,0,.75);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:none;
  justify-content: center;
  flex-direction: column;
}
#image-container{
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
	max-height: 600px;
}
#overlay img {
	width: 100%;
	height:100%;
}
/*=================MEDIA QUERIES=================*/
@media (max-width: 727px) {
	.row div{
		margin-right: 3px;
		margin-bottom: 3px;
		width: 32vw;
		height: 32vw;
	}
	.main-icon{
		height: 24px;
		padding-top: 2.5px;
	}
}
@media (max-width: 568px) {
	.search{
		display: none;
	}
	.row div{
		margin-right: 0px;
		margin-bottom: 0px;
		width: 32vw;
		height: 32vw;
	}
	.button-div{
		display: block;
	}
	.follow{
		margin-left: 0;
	}
	.h-row2 li{
		padding-right: 10px;
	}
}
@media (max-width: 500px) {
	header{
		height: 260px;
	}
	.avi{
		margin-top: -130px;
		width: 30%;
	}
	.avi img{
		width: 77px;
	}
	.info{
		margin-top: 0;
		width: 70%;
		height: 200px;
	}
	.h-row2{
		display: flex;
		position: absolute;
		justify-content: space-between;
		width: 90%;
		top: 310px;
		left: 0;
		margin: 0 1em;
	}
	.h-row3{
		position: absolute;
		left: 0;
		margin: 1.8em 1em 1em;
	}
	.h-row3 p{
		margin: 0 auto;
	}
}
@media (max-width: 419px) {
	.row div{
		margin-right: 0px;
		margin-bottom: 0px;
		width: 31vw;
		height: 31vw;
	}
}
@media (max-width: 370px) {
	.font-icon{
		display: none;
	}
	.divider{
		display: none;
	}
}